*{
    box-sizing: border-box;
}
.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--foreground);
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
    border-bottom: solid 1px #ffffff;
    background: hsl(var(--background));
    gap: 1rem;
    
}

.nav-menu a {
    color: var(--foreground);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}